.ipynb_checkpoints
data/*
results/*
notebooks/.ipynb_checkpoints
notebooks/old*
notebooks/dev*
notebooks/deprecated*
notebooks/manuscript-SM*
deprecated_*
logs/*
results
*.png
*.pdf
*.csv
__pycache__
*egg-info*
